[user]
  name = Thaddeus Diamond
  email = thadd@amazon.com
[alias]
    co = checkout
    outgoing = !sh -c \"git log --reverse --oneline origin/${1:-master}..$2\"
    out = !git outgoing
    incoming = "!sh -c \"git fetch; git log --reverse --oneline $2..origin/${1:-master}\""
    in = !git incoming
    backout = revert -n
    stat = status
    export = show
    glog = log --oneline --graph --date-order --decorate --all --pretty=format:'%C(yellow)%h %C(auto)%d %Creset%s %Cgreen%aN'
    meld = difftool --dir-diff -y
    bc = branch-compare
    slog = log --show-signature
    sync = "!sh -c \"_CURBRANCH=`git name-rev --name-only HEAD` && git co ${1:-master} && git pull && git co \\$_CURBRANCH && git rebase ${1:-master}\""
    hpush = "!sh -c \"_CURBRANCH=`git name-rev --name-only HEAD` && git co ${3:-master} && git pull && git co _push && git reset --hard ${3:-master} && git cherry-pick $1 && push -b ${3:-master} -M -i $2 -y && git co \\$_CURBRANCH && git rebase ${3:-master}\""
    refresh = commit --amend -C HEAD
    cp = cherry-pick
	dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%ar%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
[diff]
    tool = meld
[push]
    default = upstream
[color]
	ui = auto
[core]
	pager = less -FMRiX
	excludesfile = /home/thadd/.config/git/excludes
	editor = /home/thadd/bin/git-editor
[include]
    path = /home/thadd/.gitconfig_hidden
